<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>じゃんけん</title>
</head>

<body>
  <h1>じゃんけん ゲーム!</h1>
  <h2>HI!<div sec:authentication="name"></div>
  </h2>
  <p>



  <div th:if="${user1}">
    [[${user1.username}]]さんがログイン中
    エントリー
  </div>

  <div th:each="user,stat:${users}">

    <tr>
      <td>ID:[[${user.id}]]</td>
      <td>ユーザ名:[[${user.username}]]</td>
      <a th:href="@{/janken/match?(id=${user.id})}"> [[${user.name}]]</a>
    </tr>
  </div>


  <div>試合結果</div>
  <p th:each="match,stat:${matches}">
    <tr>
      <td>ID:[[${match.id}]]</td>
      <td>ユーザ名:[[${match.user1}]]</td>
      <td>ユーザ名:[[${match.user2}]]</td>
      <td>[[${match.user1Hand}]]</td>
      <td>[[${match.user2Hand}]]</td>
    </tr>

  </p>


  <div th:if="${your_select}">
    You：[[${your_select}]]
  </div>
  <div th:if="${cpu_select}">
    CPU：[[${cpu_select}]]
  </div>
  <div th:if="${result}">
    Result：[[${result}]]
  </div>

  <div th:if="${match}">
    <td>[[${match.user1}]]</td>
    <td>[[${match.user2}]]</td>
    <td>[[${match.user1Hand}]]</td>
    <td>[[${match.user2Hand}]]</td>
  </div>

  <div><a href="/logout">ログアウト</a></div>
  </p>
</body>

</html>
